/* Advantages */

.advantages {
    padding-bottom: 47px;
    @media screen and (max-width: 1199px){
        padding-bottom: 60px;
    }
}

.advantage {
    @media  screen and (min-width: 768px) {
        @include centerdFlex();
        flex-wrap: wrap;
        margin: -15px;
    }

    @media  screen and (min-width: 1200px) {
        @include centerdFlex(space-between);
        flex-wrap: nowrap;
        
    }

 &__item {
    @media  screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media  screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
 }

 &__title {
    color: $primary-title-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media  screen and (min-width: 768px){
    text-align: left;
}
 }

 &__description { 
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

 &__icon {
    @include centerdFlex(center);

    background-color: $primary-background-color;
    margin-bottom: 30px;
    padding: 25px 0;
}
 }