/* Contact nav */

.header-contact { 
   @media screen and(min-width: 768px) {
      margin-left: 88px; }

   @media screen and(min-width: 1200px) {
   margin-left: 305px;
   }

   &__link {
      color: $primary-text-color;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-decoration: none;
   
      @include transition(all);

      &:hover,
      &:focus {
         color: $accent-color;
      }
   }

   @media screen and(max-width: 767px) {
      @include centerdFlex();
      flex-direction: column-reverse;
       margin-bottom: 64px; 

      &__icon {
         visibility: hidden;
      }
   }
      &__link:hover,
      &__link:focus {
         color: $accent-color;
         font-size: 34px;
      }

     
   
   
     &__item {
        margin-bottom: 10px;
     }

      &__link {
         font-size: 14px;
         
      }

     &__link:hover &__icon,
     &__link:focus &__icon {
       fill: $accent-color;
}

 &__icon,
 &__icon {
    fill: $primary-text-color;
    margin-right: 10px;
    @include transition(fill);
} 
   
   @media screen and(min-width: 1200px) {
      position: static;
      @include centerdFlex();

    &__item:not(:first-child) { 
      margin-left: 30px;
  }
   }
}
