/* Contact nav */

.header-contact { 
   @media screen and(max-width: 767px) {
   @include centerdFlex();
   flex-direction: column-reverse;
    margin-bottom: 64px; 
   }

   @media screen and(min-width: 768px) {
      margin-left: 88px;
      padding: 21px 0;
    }

   @media screen and(min-width: 1200px) {
   margin-left: 305px;
   @include centerdFlex();
   padding: 0;
   }

     &__item {
      margin-bottom: 10px;
     
   }
   @media screen and(min-width: 768px){
      &__item:last-child {
         margin-bottom: 0px;
      }
   }

   @media screen and(min-width: 1200px){
      margin-bottom: 0px;
   }

   &__link {
      color: $primary-text-color;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-decoration: none;
   
      @include transition(all);

      &:hover,
      &:focus {
         color: $accent-color;
      }
   }

   &__link--mobile {
      font-size: 34px;
   }

   @media screen and(max-width: 767px) {
      &__icon {
         visibility: hidden;
      }
   }

   @media screen and(min-width: 768px) {
      &__link {
      font-size: 12px;
      }
   }
   @media screen and(min-width: 1200px) {
      &__link {
         font-size: 14px;
   }
      }

     &__link:hover &__icon,
     &__link:focus &__icon {
       fill: $accent-color;
}

 &__icon,
 &__icon {
    fill: $primary-text-color;
    margin-right: 10px;
    @include transition(fill);
} 
   
   @media screen and(min-width: 1200px) {
      position: static;
      @include centerdFlex();

    &__item:not(:first-child) { 
      margin-left: 30px;
  }
   }
}
