/* Customers */

.customers {
    padding-top: 47px;

 &__title {
    @extend %title-section;
}
 }

.customers-list {
   @include centerdFlex(center,center);
   flex-wrap: wrap;

   @media  screen and (min-width: 768px) {
      @include centerdFlex(center, center);
      flex-wrap: wrap;
   }

   @media screen and(min-width: 1200px) {
      @include centerdFlex(space-between);
      margin: -15px;
     }
   

 &__link:hover &__icon,
 &__link:focus &__icon {
    fill: $accent-color;
}

 &__item {
   width: calc((100% - 4 * 15px) / 2);
   margin-bottom: 30px;

     @media  screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
  }

  @media  screen and (min-width: 1200px) {
      width: calc((100% - 12 * 15px) / 6);
  }

}

 &__link {
    @include centerdFlex(center, center);
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid $icon-color;
    border-radius: 4px;
    @include transition();

 &:hover,
 &:focus {
    border: 1px solid $accent-color;
}
 }

 &__icon {
    fill: $icon-color; 
    @include transition(fill);
}
 }
