.form-field {
    @include centerdFlex();
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;

 &__label {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 5px;
}

 &__box {
    position: relative;
}

 &__input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 13px 20px 13px 42px;
    outline: none;
    @include transition();
 }

 &__input:hover,
 &__input:focus {
        border-color: $accent-color;
        cursor: pointer;
    }

 &__icon {
      position: absolute;
      top: 50%;
      left: 5%; 
      transform: translate(-50%, -50%);
      @include transition(fill);
 } 

 &__input:hover ~ &__icon,
 &__input:focus ~ &__icon {
       fill: $accent-color;
   }

 &__textarea {
    resize: none;

    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 12px 16px;
    outline: none;
    @include transition(border-color);
}

 &__textarea:hover,
 &__textarea:focus {
        border-color: $accent-color;
        cursor: pointer;
    }
   }
.checkbox {
    text-align: left;
    font-size: 14px;
    line-height: 1.7;    
    letter-spacing: 0.03em;

    @include centerdFlex(center, center);
    margin-bottom: 30px;
    
    @media screen and(max-width: 1199px){
       font-size: 12px;
    }

 &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    @include transition(all);

}

 &__icon {
    fill: $primary-white-color;
    border: solid $primary-black-color;
    border-radius: 2px;
    margin-right: 9px;
    @include transition(fill);
 }

 &__input:checked + &__icon {
    background-color: $accent-color;
    fill: $accent-color;
    border: solid $accent-color;
}

 &__link {
    color: $accent-color;
    margin-left: 3px;
}
 }

.modal__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        @extend %button;
        display: inline-block;
        padding: 10px 32px;
        text-align: center;
      

     &:hover,
     &:focus,
     &:hover,
     &:focus {
        @extend %button-hover;
     }
   
      }
      
