 /* Hero */

.hero { 
    padding: 200px 0;
    text-align: center;

    background-color: $primary-section-color;

    display: block;
    max-width: 1600px;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
   
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/mobile2x.jpg");
  }



    @media screen and (min-width: 481px) {
      background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/tablet.jpg");

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
   
    background-image:  linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/tablet2x.jpg");
  }
    }


    @media screen and (min-width: 769px) {
      background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/img.fon.jpg");

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
   
    background-image:  linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/img.fon2x.jpg");
  }
    }

 &__title {
    color: $primary-white-color;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin: auto;

    margin-bottom: 30px;
}
 
 &__button {
    @extend %button;
    display: inline-block;
    padding: 10px 32px;
    text-align: center;

 &:hover,
 &:focus,
 &:hover,
 &:focus {
    @extend %button-hover;
}

}
 }