.menu-button {
    @include centerdFlex(center, center);
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 999;
    width: 40px;
    height: 40px;
    @include transition(all);
   
 &:hover,
 &:focus {
       fill: $accent-color;
    }

 & .navigation-close {
    display: none;
  }
 
 &.is-open .navigation-close {
    display: block;
    }
 
 &.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
   .menu-button {
    display: none;
  }
}

.icon-menu,
.navigation-close {
    @include transition(fill);
 }

.menu-container {
   background-color: $primary-white-color;
   z-index: 998;
   
 @media screen and (max-width: 767px) {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    transform: translateX(100%);
    opacity: 0;
    @include transition(all);
    
    &.is-open {
       display: flex;
       flex-direction: column;
       transform: translateX(0);
       opacity: 1;
       @include transition(all);
     }
 } 
 
 @media screen and (min-width: 767px) and (max-width: 1199px) {
    position: relative;
    display: flex;
    height: 80px;
 }
 
 @media  screen and(min-width: 1200px) {
    margin-left: 93px;
    @include centerdFlex(flex-start, baseline);
    position: static;
 }
 
 }
 