.mobile-list {
     @include centerdFlex(center, center);

 &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2); 
 }

 &__link {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
    padding: 0 20px;
 }

 @media screen and(min-width: 768px) {
      display: none;
}
}
