/* Page-header */

.page-header {
   position: relative;
    border-bottom: 1px solid $border-bottom-color;

    @media  screen and(max-width: 767px) {
    padding: 16px 0;
    }

    @media  screen and(min-width: 1200px){
      @include centerdFlex(flex-start, baseline);
   }
}
/* Basic-nav */

.basic-nav {
   
   @media  screen and(max-width: 767px) {
      @include centerdFlex(space-between, baseline);
      
   }
   @media  screen and(min-width: 768px) {
      @include centerdFlex(space-between);
   }

   @media  screen and(min-width: 1200px){
      @include centerdFlex(flex-start, baseline);
      padding: 24px 0;
   }
 }

.site-nav {
   @media  screen and(max-width: 767px) {

    &__item:not(:last-child) {
       margin-bottom: 32px;
    }
   }

   @media screen and (min-width: 768px) {
      @include centerdFlex(space-between, baseline);
      padding: 32px 0;
    }

    @media screen and (min-width: 1200px) {
      @include centerdFlex(space-between, baseline);
      padding: 0;
}
     
&__item:not(:last-child) {
   margin-right: 50px;
}

   &__link {
      color: $primary-title-color;
      font-size: 40px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-decoration: none;
  
      position: relative;
      padding-bottom: 34px;
      @include transition(color);

   @media screen and(min-width:1200px) {
   padding-bottom: 28px;
 }
      
   @media screen and (min-width: 768px) {
      font-size: 14px;
   }
  
   &:hover,
   &:focus {
      color: $accent-color;
   }

   @media screen and (min-width: 768px) {
   &--first::after {
      width: 48px;
  }
  
   &--second::after {
      width: 78px;
  }
   }
}
   &__link--current {
      color: $accent-color;
  
   &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
  
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
      opacity: 1;
  }
   }
  }



 
 