/* Projects */
 
.projects {
   @media screen and(min-width: 768px) {
      
    @include centerdFlex();
    flex-wrap: wrap;
    margin: -15px;
   }

 &__item {
    cursor: pointer;
    @include transition(box-shadow);
    @media screen and (max-width: 767px) {

    &:not(:last-child) {
      margin-bottom: 30px;
  }
}

  @media screen and(min-width: 768px) {
     display: flex;
     flex-direction: column;
     width: calc((100% - 4 * 15px) / 2);
     margin: 15px;
  }

 &:hover,
 &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and(min-width: 1200px) {
   width: calc((100% - 6 * 15px) / 3);
   margin: 15px;
 }
}

 &__thumb {
    position: relative;
    overflow: hidden;
}

 &__overlay {
    display: inline-block;
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    
    @include transition(all);
 }

 &__item:hover &__overlay {
    transform: translateY(0);
    opacity: 1;
}
 
 &__content {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
    color: $primary-white-color;
}

 &__caption {
    padding: 20px 24px;
    border: 1px solid $border-content-color;
    border-top: none;
    flex-grow: 1;
}

 &__title {
    color: $primary-title-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    
    margin-bottom: 4px;
}

 &__description {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
 }