/* Sign-up */

.sign-up {
   @media screen and(min-width: 768px) {
      margin: 0 auto;
   }
   @media screen and(min-width: 1200px) {
      margin: 0;
   }
    
 &__title {
   @extend %title-footer;
   text-align: center;

   @media screen and(min-width: 1200px) {
      text-align: left;
   }
 }
}
 
.form-sign-up  { 

   @media screen and(min-width: 768px) {
      @include centerdFlex(center, center);
      flex-direction: column;
      
   }

   @media screen and(min-width: 1200px) {
    @include centerdFlex();
    flex-direction: row;
      
} 

 &__input  {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: rgba(47, 48, 58, 1);
    outline: none;
    padding-left: 16px;
    
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    color: $primary-white-color;

    @include transition(border);

    @media screen and(min-width: 768px){
       width: 450px;
    }

    @media screen and(min-width: 1200px){
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
     }

 &:hover {
    border-color: $accent-color;
}
 }

 &__button {
    @extend %button;
    position: relative;
    padding: 10px 62px 10px 29px;

 }

 &__button:hover,
 &__button:focus {
   @extend %button-hover;

}
 
 &__button:hover &__icon,
 &__button:focus &__icon {
   fill: $accent-color;
}

 &__icon {
    fill: $primary-white-color;
    position: absolute;
    top: 13px;
    right: 29px;
    @include transition(fill);
 }
}
