/* Team */

.team-work {
    padding-top: 0;
    background-color: var(--primary-background-color);
    padding-bottom: 47px;
      
 @media screen and (max-width: 1199px){
    padding-bottom: 60px;
}

 &__title {
    @extend %title-section;
}
 }

.team {
    margin: -15px;
    @media  screen and (min-width: 768px) {
    @include centerdFlex();
    flex-wrap: wrap;
  }

    @media  screen and (min-width: 1200px) {
    @include centerdFlex(space-between);
    flex-wrap: nowrap;
}

&__item {
    @media  screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
 }

.team-members {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

 &__name {
    color: $primary-title-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

 &__profession {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    margin-bottom: 16px;
}
 }

