$primary-text-color: #757575;
$primary-background-color: #F5F4FA;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$primary-section-color: #2F303A;
$primary-title-color: #212121;
$primary-black-color: #000000;
$border-bottom-color: #ECECEC;
$background-button-color: #F5F4FA;
$border-content-color: #EEEEEE;
$footer-link-color: #FFFFFF99;
$icon-color: #AFB1B8;
$social-network-color: #FFFFFF1A;

$font-secondary: 'Raleway', sans-serif;
$font-primary: 'Roboto','Helvetica' , sans-serif;
